{{> templates/partials/page-anatomy/page-head }}
<body>

{{> templates/partials/page-anatomy/page-header }}

<main>
    include form here
</main>

</body>

{{> templates/partials/page-anatomy/page-foot }}
