{{> templates/partials/page-anatomy/page-head}}
<body>

{{> templates/partials/page-anatomy/page-header}}

<main>
    {{> templates/partials/form}}
</main>

</body>

{{> templates/partials/page-anatomy/page-foot }}
