<div class="person">
    <div class="person_inner person_name">{{firstName}} {{lastName}}</div>
    <div class="person_inner person_birthdate">{{birthdate}}</div>
    <div class="person_inner person_uuid">{{personUUID}}</div>
</div>