<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Family Tree{{#if pageTitle}} &ndash; {{pageTitle}}{{/if}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/css/list.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/css/treeview.css" media="all">
</head>
